

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
 .App {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
   
    border-radius: 10px;
  
    text-align: center;
  }